body {
    margin: 0;
    padding: 0;
}
.register {
    background-image: url("../images/tech.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

#form, .boothFields, #btnPage, #searchBtnData {
 display: none;
}

#rowForm {
    text-align: center;
    background-image: url(../images/register-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 100vh;
    padding: 1px;
}

#registrationForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    height: 100vh !important;
    justify-content: center;
}

.appRegistration {
    font-size: 40px;
}

#boothFrom, #boothTo {
    margin: 0 auto;
}

.registrationFormFields {
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 20px;
}

.button, .mainButton {
    color: #fff;
    background-color: #0d6efd;
    text-align: center;
    width: 150px;
    border: none;
    padding: 10px;
    font-size: 20px;
    border-radius: 20px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.mainButton {
    width: 250px;
    text-decoration: none;
}

#new {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh !important;
}

.button:hover, .mainButton:hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
}

#btnPage {
    text-align: center;
    background-image: url(../images/register-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 100vh;
}

.btnRow {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

th, td {
    font-size: 20px;
    padding: 10px;
    border: 1px solid;
    text-align: center;
}

/*search page */
#searchForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}
.searchFormDiv {
    display: flex;
    padding: 5px
}

.searchFormInput {
    padding: 10px;
    margin: 10px;
    font-size: 15px;
    border-radius: 20px;
    border: 2px solid #8F0000;
}
#searchFormSubmit {
    margin: 10px;
    font-size: 14px;
    border-radius: 20px;
    border: 2px solid #8F0000;
    background: #8F0000;
    color: white;
    font-weight: 700;
}

.tableContainer {
    display: flex;
    justify-content: center;
    padding: 10px;
}

/*Voter page css*/
#searchPageHeading, #voterPageHeading, #syncPageHeading {
    margin: 0;
    padding: 20px;
    font-size: 30px;
    color: wheat;
    background: #8f0000;
}

.voterPageBtn {
    width: 210px;
    padding: 15px;
    font-size: 20px;
    margin: 15px;
}
/*sync page*/

/*media query for mobile*/
@media only screen and (max-width: 480px) {
    .register {
        font-size: 60px !important;
        text-align: center !important;
    }
    .appRegistration {
        font-size: 45px !important;
    }
    .registrationFormFields {
        font-size: 20px !important;
        padding: 15px !important;
        border: none !important;
        border-radius: 30px !important;
    }
    .button {
        text-align: center !important;
        width: 150px !important;
        padding: 10px !important;
        font-size: 20px !important;
        border-radius: 30px !important;
    }
    .mainButton {
        text-align: center !important;
        width: 150px !important;
        padding: 10px 0px !important;
        font-size: 12px !important;
        border-radius: 15px !important;
    }
    .searchFormInput {
        width: 150px !important;
    }
    th, td {
        font-size: 8px !important;
    }
}
@media only screen and (max-width: 768px) {
    .register {
        font-size: 50px;
        text-align: center;
    }
    .appRegistration {
        font-size: 60px;
    }
    .registrationFormFields {
        font-size: 30px;
        padding: 18px;
        border: none;
        border-radius: 35px;
     }
    .button {
        text-align: center;
        width: 250px;
        padding: 12px;
        font-size: 35px;
        border-radius: 30px;
    }
    .mainButton {
        text-align: center;
        width: 120px;
        padding: 10px;
        font-size: 25px;
        border-radius: 30px;
    }
    #searchPageHeading, #voterPageHeading, #syncPageHeading {
        font-size: 40px;
    }
    th, td {
        font-size: 10px;
    }
    .voterPageBtn {
        width: 200px;
        padding: 15px;
        font-size: 18px;
        margin: 37px 25px;
    }
    .searchFormInput {
        width: 150px !important;
    }
}
